body{
    font-size: 0;
    background: #fcf4df;
}
.pag3bn2{
    width: 100vw;
}
.pag3btn{
    position: absolute;
    top: 1.52rem;
    right: .3rem;
    width: 1.4rem;
    height: .66rem;
    background-image: url("../image/HigtSchool/pag3btn.png");
    background-size: 100% 100%;
    border-radius: 6px;
    box-shadow: 0 1px 0rgba(0,0,0,.1);
}
.pag3btn2{
    position: absolute;
    top: 3.14rem;
    right: .3rem;
    width: 1.4rem;
    height: .66rem;
    background-image: url("../image/HigtSchool/pag3btn.png");
    background-size: 100% 100%;
    border-radius: 6px;
    box-shadow: 0 1px 0rgba(0,0,0,.1);
}
.pag3btn:active,.pag3btn2:active{
    box-shadow: inset 0 1px 0 rgba(139,67,0,.3);
    transform: translatey(1px);
}
.pag3c1{
    border-bottom: 1px #d9be9c dashed;
    width: 100vw;
    height: 1.6rem;
}
.pag3jpg1{
    background-image: url("../image/HigtSchool/pag3jpg1.png");
    background-repeat: no-repeat;
    background-size: .82rem .95rem;
    font-size: .3rem;
    width: .82rem;
    height: .95rem;
}
.pag3jpg2{
    background-image: url("../image/HigtSchool/pag3jpg2.png");
    background-repeat: no-repeat;
    background-size: .82rem .95rem;
    font-size: .3rem;
    width: .82rem;
    height: .95rem;
}
.pag3jpg{
    background-image: url("../image/HigtSchool/pag3jpg.png");
    background-repeat: no-repeat;
    background-size: .82rem .95rem;
    font-size: .3rem;
    width: .82rem;
    height: .95rem;
}
.pag3c1k{
    padding: 0 .55rem;
}
.pag3c1t{
    font-size: .34rem;
}
.pag3btn1{
    padding: 0 .2rem;
    height: .6rem;
    background: #969696;
    border-radius: 6px;
    font-size: .3rem;
    color: white;
    white-space: nowrap;
    font-weight: bold;
}
.pag3text{
    font-weight:bold;
    color: #764d0b;
}
#pag3pop{
    width: 3.2rem;
    height: .88rem;
    background: #fcf4df;
    border-radius: 10px;
    font-size: .3rem;
    color: #76440a;
    font-weight:bold;
    border: 1px solid #76440a;
    margin: .3rem 0 .1rem;
}
.pag3q{
    margin-left: .1rem;
}
#pag3pop>img{
    width: .36rem;
}
.d-none{
    display: none!important;
}
.mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(179,179,179,.7);
}
.validate{
    width: 5.8rem;
    height: 2.9rem;
    background: #fcf4df;
    border-radius: 10px;
    position: relative;
}
.validatetext1{
    font-size: .3rem;
    color: #76440a;
}
.validatetext{
    font-size: .4rem;
    color: #76440a;
    margin-top: .7rem;
}
.validatebtn{
    position: absolute;
    width: 5.8rem;
    height: .88rem;
    bottom: 0;
    background: #eca93e;
    font-size: .36rem;
    color: white;
}